<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <h1>{{meter.fuel}} meter: {{meter.id}} ({{meter.building.name}})</h1>
    <div id="container" style="height: 800px; width: 1200px;"></div>
  </body>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  {{ meter_readings|json_script:"meter-data" }}
  <script>
    const chart = () => {
      const svg = d3
        .select("div")
        .append("svg")
        .attr("viewBox", [0, 0, width, height]);

      svg.append("g").call(xAxis);

      svg.append("g").call(yAxis);

      svg
        .append("path")
        .datum(data)
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", 1.5)
        .attr("stroke-linejoin", "round")
        .attr("stroke-linecap", "round")
        .attr("d", line);
      return svg.node();
    };

    const unit = "{{meter.unit}}";

    const height = 500;
    const width = 1000;
    const margin = { top: 20, right: 30, bottom: 30, left: 40 };
    const data = Object.assign(
      JSON.parse(document.getElementById("meter-data").textContent).map(
        ({ datetime, consumption }) => ({
          datetime: Date.parse(datetime),
          value: consumption,
        })
      ),
      { y: `${unit} consumption` }
    );

    console.log(data);

    const line = d3
      .line()
      .defined((d) => !isNaN(d.value))
      .x((d) => x(d.datetime))
      .y((d) => y(d.value));

    const x = d3
      .scaleUtc()
      .domain(d3.extent(data, (d) => d.datetime))
      .range([margin.left, width - margin.right]);

    const y = d3
      .scaleLinear()
      .domain([0, d3.max(data, (d) => d.value)])
      .nice()
      .range([height - margin.bottom, margin.top]);

    const xAxis = (g) =>
      g.attr("transform", `translate(0,${height - margin.bottom})`).call(
        d3
          .axisBottom(x)
          .ticks(width / 80)
          .tickSizeOuter(0)
      );

    const yAxis = (g) =>
      g
        .attr("transform", `translate(${margin.left},0)`)
        .call(d3.axisLeft(y))
        .call((g) => g.select(".domain").remove())
        .call((g) =>
          g
            .select(".tick:last-of-type text")
            .clone()
            .attr("x", 3)
            .attr("text-anchor", "start")
            .attr("font-weight", "bold")
            .text(data.y)
        );

    const node = chart();
    console.log(node);
    //   d3.select("body").append(node);
  </script>
</html>
